<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Registro de Paciente</h4>
                        <p class="card-category">Información del registro de Paciente</p>
                    </div>
                    <div class="card-body">
                        <form name="editForm" role="form" #editForm="ngForm">
                            <div class="row">
                                <div class="col-md-5">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="ID" [(ngModel)]="paciente.id" name="id" disabled>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Nº DNI" [(ngModel)]="paciente.numDni" name="numDni">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Nombre Completo" [(ngModel)]="paciente.nomCompleto" name="nomCompleto">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Email" [(ngModel)]="paciente.correo" name="correo">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Teléfono" [(ngModel)]="paciente.numTelefono" name="numTelefono">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Dirección" [(ngModel)]="paciente.direccion" name="direccion">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Edad" [(ngModel)]="paciente.edad" name="edad">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput [matDatepicker]="fecNacimiento" placeholder="Fecha de Nacimiento"
                                        [(ngModel)]="paciente.fecNacimiento" name="fecNacimiento">
                                        <mat-datepicker-toggle matSuffix [for]="fecNacimiento"></mat-datepicker-toggle>
                                        <mat-datepicker #fecNacimiento></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput [matDatepicker]="fecIngreso" placeholder="Fecha de ingreso"
                                        [(ngModel)]="paciente.fecIngreso" name="fecIngreso">
                                        <mat-datepicker-toggle matSuffix [for]="fecIngreso"></mat-datepicker-toggle>
                                        <mat-datepicker #fecIngreso></mat-datepicker>
                                    </mat-form-field>
                                </div>
                            </div>
                            <button mat-raised-button type="submit" [disabled]="editForm.form.invalid"
                                class="btn btn-danger pull-right" (click)="save()" style="float:right">
                                <span class="fa fa-save"></span>&nbsp;&nbsp;<span>Guardar</span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>