<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-8">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Usuario</h4>
                      <p class="card-category">Datos del Usuario en Sesión</p>
                  </div>
                  <div class="card-body">
                      <form>
                          <div class="row">
                              <div class="col-md-5">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Usuario (disabled)" disabled [(ngModel)]="usuario.usuario" name="usuario" >
                                  </mat-form-field>
                              </div>
                              <div class="col-md-3">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Perfil Asignado" [(ngModel)]="usuario.perfil" name="perfil">
                                  </mat-form-field>
                              </div>
                              <div class="col-md-4" *ngIf="usuario.paciente">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Correo Electrónico" [(ngModel)]="usuario.paciente.correo" name="correo">
                                  </mat-form-field>
                              </div>
                              <div class="col-md-12" *ngIf="usuario.paciente">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Nombre Completo" [(ngModel)]="usuario.paciente.nomCompleto" name="pacNomCompleto">
                                  </mat-form-field>
                              </div>
                              <div class="col-md-12" *ngIf="usuario.doctor">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Nombre Doctor" [(ngModel)]="usuario.doctor.nomCompleto " name="docNomCompleto">
                                  </mat-form-field>
                              </div>                              
                              <div class="col-md-12" *ngIf="usuario.doctor">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Email Doctor" [(ngModel)]="usuario.doctor.email " name="email">
                                  </mat-form-field>
                              </div>                              
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
